body {
    background-color: #e38bbf !important;
    text-decoration: none !important;
}

a {
    color: #bc2c79 !important;
    text-decoration: none !important;

}

a:hover {
    color: #000 !important;
    text-decoration: none !important;
}


/*  Шапка */
.header {
    background-color: #bc2c79 !important;
}


/* ЛОГОТИП */
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: auto 90px;
}

.logo img {
    height: 30px;
    margin-left: 10px;
    float: none;
    position: absolute;
}

.navcont {
    background-color: #e38bbf !important;

}

.navcont:hover {
    background-color: #F4DBDB;
    border: 2px solid #CD4662;
    border-radius: 8px;
    color: black;
}

h2 {
    background-color: #bc2c79;
}

/* подвал */
footer {
    background-color: #c61f6a;
}

.table-container {
    order: 1;
}

.link-list {
    order: 2;
}